table.havi, td, tr {
    border-collapse: collapse; 
    border: 1px solid black;
}
table.havi tr th {
    background-color: #e8f1f1;
}
table.havi tr td {
    text-align: right;
}
table.havi tr td:first-child {
    padding: 0 1em;
}
table.havi tr:nth-child(even) {
    background-color: #e8f1f1;
}
table.havi caption {
  padding: 1em;
  border: 1px solid black;
  border-bottom: none;
  background-color: lavender;
}
div.monthly_wrapper {
    display: flex;
    margin: 2em 0;
    gap: 2em;
}
.canvas-wrapper {
    position: relative;
    flex: 1;
    max-height: 100%;
}
@media only screen and (max-width: 600px) {
    div.monthly_wrapper {
        flex-direction: column;
        align-items: center;
    }
}
table.kep {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
table.kep tr td {
    height: 60vh;
}
