table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
}
tr th {
    background-color: #e8f1f1;
}
tr td {
    text-align: right;
}
tr td:first-child {
    padding: 0 1em;
}
tr:nth-child(even) {
    background-color: #e8f1f1;
}
caption {
  padding: 1em;
  border: 1px solid black;
  border-bottom: none;
  background-color: lavender;
}
div.monthly_wrapper {
    display: flex;
    margin: 2em 0;
    gap: 2em;
}
img {
    max-width: 100%;
}
.canvas-wrapper {
    position: relative;
    flex: 1;
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    div.monthly_wrapper {
        flex-direction: column;
        align-items: center;
    }
}