header, footer {
    padding: 0.5em; 
    color: white;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
h1.header {
    padding: 0;
    margin: 0;
}
aside {
    width: 160px;
    margin: 0;
    padding: 1em;
}
section {
    padding: 1em 1em 2em;
}
nav ul {
    width:100%; /* A menü az alatta levő szövegtől elválik, birtokolja a teljes vízszintes sávját. */
    padding: 0;
    margin:0;
    list-style-type:none;
    background-color: lightblue;
}        
a {
    text-decoration:none; /* Ne legyen aláhúzva a link. */
    color:white;
}
a.selected {
    background-color: blue;
}
a:hover { 
    background-color:#ff3300 /* Az egérkurzorra színváltással reagál a menüpont. */
} 
nav li { 
    display:inline-block;
    background-color:navy;
    padding:0.2em 0.6em;
    border-right:1px solid white;
}
li.submenu {
    background-color: blue;
}
a.subselected {
    background-color: navy;
}
div.nyito {
    text-align: center;
    padding-bottom: 2em;
}
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }
}
